.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none; // pointer-events - в none по модалке нельзя будет ни кликать ни взаимодействовать
  z-index: -1;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);
  .content {
    transform: scale(1);
  }
}

.closed {
  .content {
    transform: scale(0.01);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--inverted-bg-color);
  transition: 0.2s transform;
  transform: scale(0.5);
  max-width: 60%;
}

.Modal.dark {
  --bg-color: #497174;
  --primary-color: #393E46;
}

