.Sidebar {
  width: var(--sidebar-width);
  background: var(--primary-color);
  height: calc(100vh - var(--header-height));
  transition: width 0.3s;
  position: relative;
  color: var(--primary-font-color);
}

.switchers {
  margin-left: 20px;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapseBtn {
  background: var(--red-color);
  color: var(--white-color);
  border: none;
  position: absolute;
  right: -26px;
  bottom: 84px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus {
    outline: none;
  }
}

.items {
  margin: 20px 15px 0 15px;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .items {
    //margin: 20px 15px 0 15px;
    display: flex;
    flex-direction: column;
  }

  .switchers {
    flex-direction: column;
    margin-left: 20px;
  }

  .lang {
    margin-left: 0;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
    display: none;
  }
}

