.Sidebar {
  width: var(--sidebar-width);
  background: var(--primary-color);
  height: calc(100vh - var(--header-height));
  transition: width 0.3s;
  position: relative;
  color: var(--primary-font-color);
}

.switchers {
  margin-left: 20px;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapseBtn {
  background: var(--red-color);
  color: var(--white-color);
  border: none;
  position: absolute;
  right: -26px;
  bottom: 84px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus {
    outline: none;
  }
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.link {
  margin-left: 10px;
  opacity: 1;
  white-space: nowrap;
  margin-right: 15px;
}

.icon {
  fill: var(--primary-font-color)
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    //align-items: center;
    margin-left: 20px;
  }

  .lang {
    margin-left: 0;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}

