.link {
  margin-left: 10px;
  opacity: 1;
  white-space: nowrap;
  margin-right: 15px;
}

.icon {
  fill: var(--primary-font-color)
}

.item {
  width: var(--sidebar-items-width);
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
    display: none;
  }
}
