.Select {
  height: var(--input-size);
  border-radius: var(--b-radius-m);
  padding: var(--padding-m) var(--padding-m);
  background: var(--bg-color);
  color: var(--primary-font-color);
}

.Label {
  margin-right: 5px;
}
