.app_dark_theme {
  --bg-color: #5b616b;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #393E46;
  --inverted-primary-color: #fff;
  --secondary-color: #5b616b;
  --inverted-secondary-color: #edeef0;


  --primary-font-color: #e8e8ea;
  --inverted-primary-font-color: #393E46;
  --secondary-font-color: #497174;

  // skeleton
  --skeleton-color: #393E46;
  --skeleton-shadow: #5b616b;

  // background code
  --code-bg: #2f3e46;
}
