.app_dark_theme {
  --bg-color: #393E46;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #393E46;
  --inverted-primary-color: #fff;
  --secondary-color: #546bec;
  --inverted-secondary-color: #B00020;


  --primary-font-color: #D6E4E5;
  --inverted-primary-font-color: #497174;
  --secondary-font-color: #497174;
}
