.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #393E46;

  --primary-color: #fff;
  --inverted-primary-color: #393E46;
  --secondary-color: #edeef0;
  --inverted-secondary-color: #5b616b;

  --primary-font-color: #393E46;
  --inverted-primary-font-color: #e8e8ea;
  --secondary-font-color: #D6E4E5;

  // skeleton
  --skeleton-color: #393E46;
  --skeleton-shadow: #5b616b;
}
