.Header {
  padding: 0 var(--padding-xl);
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--inverted-bg-color);
  color: var(--secondary-font-color)
}
